<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
	<PropertyGroup>
		<Configuration>Release</Configuration>
		<Platform>Any CPU</Platform>
		<PublishDir>..\artifacts\pub\AigioLTemplate.ConsoleApp\win-arm64</PublishDir>
		<PublishProtocol>FileSystem</PublishProtocol>
		<_TargetId>Folder</_TargetId>
		<RuntimeIdentifier>win-x64</RuntimeIdentifier>
		<PublishAot>true</PublishAot>
		<!-- 删除支持更好的调试体验的代码。 此设置还会删除符号。 -->
		<DebuggerSupport>false</DebuggerSupport>
		<StackTraceSupport>false</StackTraceSupport>
		<EventSourceSupport>false</EventSourceSupport>
		<!-- 将 OptimizationPreference 设置为 Size 指示发布过程优先考虑可执行文件的大小，而不是其他性能指标。 应用大小预计会更小，但其他性能指标可能会受到影响。 -->
		<OptimizationPreference>Size</OptimizationPreference>
		<Http3Support>false</Http3Support>
		<HttpActivityPropagationSupport>false</HttpActivityPropagationSupport>
		<XmlResolverIsNetworkingEnabledByDefault>false</XmlResolverIsNetworkingEnabledByDefault>
		<TrimmerRemoveSymbols>true</TrimmerRemoveSymbols>
		<EnableUnsafeBinaryFormatterSerialization>false</EnableUnsafeBinaryFormatterSerialization>
		<EnableUnsafeUTF7Encoding>false</EnableUnsafeUTF7Encoding>
		<MetadataUpdaterSupport>false</MetadataUpdaterSupport>
		<MetricsSupport>false</MetricsSupport>
	</PropertyGroup>
</Project>